{% extends 'base.html'  %}
{% block body %}

<div class="container-fluid" style="margin-top:50px;background:Lavender"><br><br>
    <div class="row" >
        <div class="col-md-6">
            <img src="{{movie.abc.url}}" class="img-thumbnail" height="300" width="450">
        </div>
        <div class="col-md-6">
            <h2 class="card-title">{{movie.name}}</h2><br>
            <h3 class="card-title">{{movie.year}}</h3><br>
            <p class="card-text">{{movie.desc}}</p><br>
        <a class="btn btn-warning" href="{% url 'movieapp:update' movie.id %}">update</a>
        <a class="btn btn-danger" href="{% url 'movieapp:delete' movie.id %}">delete</a>
            <br><br>
        </div>
    </div>
</div>





{% endblock %}