{% extends 'base.html'  %}
{% block body %}

<div class="container-fluid" style="margin-top:25px;margin-left:150px">
    <div class="row">
        <div class="row">
            {% for i in movielist %}
            <div class="col-md-3">
                <div class="card" style="width:18rem">
                    <img class="card-img-top" src="{{i.abc.url}}" alt="">
                    <div class="card-body">
                        <h3>{{i.name}}</h3><br>
                        <a href="{% url 'movieapp:detail' i.id %}" class="btn btn-info">View Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>






{% endblock %}